@model TimeTracker.Employee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/mainView.cshtml";
}

<section class="content">
       
    <div class="box box-info">

        <div class="box-header with-border">
            <h3 class="box-title">Horizontal Form</h3>
        </div>

        @using (Html.BeginForm("Create", "Employee", new { ReturnUrl = ViewBag.ReturnUrl },FormMethod.Post, new { @class = "form-horizontal" }))
        {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.nom, htmlAttributes: new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.prenom, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                                       
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-info pull-left" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
